.divider {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  align-items: center;
}

.category {
  height: auto;
  width: auto;
  float: left;
}

.email {
  padding-left: 25%;
  position: absolute;
  float: left;

}

#breakdownTitle {
  padding-left: 35%;
}

.svg {
  padding-left: 13%;
  float: left;
  align-content: center;
}

.emailBreakDownChart {
  padding-left: 35%;
  width: 28%;
}

.overallBreakDown {
  padding-left: 39%;
  width: 28%;
}

.loginContainer {
  width: 360px;
  margin-top: 25%;
  margin-left: 39%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

button {
  margin: auto;
}
